<mat-sidenav-container>
<mat-sidenav #sidenav> 
    <button mat-button class="button-menu">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="button-menu">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="button-menu">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="button-menu">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
    
  </mat-sidenav>
</mat-sidenav-container>



